<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="http://code.jquery.com/jquery-1.11.3.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angular../js/1.2.7/angular.js"></script>
	<script src="../js/jqueryCookie.js"></script>
	<script src="../js/myRules.js"></script>
	<script src="../js/keyboard.js"></script>
	<script src="../js/tableauDeModele.js"></script>
	<script src="../js/Modele.js"></script>
	<script src="../js/IA.js"></script>
	<script src="../js/angular.js"></script>
	<script src="controleurTest.js"></script>
</head>
<body>
<div ng-app="aa" ng-controller="aa2">
salut
<div ng-if="test" ng-click="test=!test">sfsdfs</div>
</div>
</body>
</html>