/* ::::: http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css ::::: */

.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; border-collapse: collapse; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { min-height: 0px; }
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
input.ui-button::-moz-focus-inner, button.ui-button::-moz-focus-inner { border: 0px none; padding: 0px; }
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: 0.7em; display: block; border: 0px none; background-position: 0px 0px; }
.ui-slider-horizontal { height: 0.8em; }
.ui-slider-horizontal .ui-slider-handle { top: -0.3em; margin-left: -0.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0px; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0px; }
.ui-widget { font-family: Verdana,Arial,sans-serif; font-size: 1.1em; }
.ui-widget-content { border: 1px solid rgb(170, 170, 170); background:  repeat-x scroll 50% 50% rgb(255, 255, 255); color: rgb(34, 34, 34); }
.ui-widget-header { border: 1px solid rgb(170, 170, 170); background:  repeat-x scroll 50% 50% rgb(204, 204, 204); color: rgb(34, 34, 34); font-weight: bold; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid rgb(211, 211, 211); background: repeat-x scroll 50% 50% rgb(230, 230, 230); font-weight: normal; color: rgb(85, 85, 85); }
.ui-icon { width: 16px; height: 16px; }
.ui-icon, .ui-widget-content .ui-icon { background-image: url('ui-icons_222222_256x240.png'); }
.ui-state-default .ui-icon { background-image: url('ui-icons_888888_256x240.png'); }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { border-top-left-radius: 4px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { border-top-right-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { border-bottom-left-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-bottom-right-radius: 4px; }
/* ::::: http://jqueryui.com/resources/demos/style.css ::::: */

body { font-family: "Trebuchet MS","Helvetica","Arial","Verdana","sans-serif";}
#red, #green, #blue { float: left; clear: left; width: 300px; margin: 15px; }
#swatch { width: 120px; height: 100px; margin-top: 18px; margin-left: 350px; background-image: none; }
#red .ui-slider-range { background: none repeat scroll 0% 0% rgb(239, 41, 41); }
#red .ui-slider-handle { border-color: rgb(239, 41, 41); }

