<script src="http://code.jquery.com/jquery-1.11.3.js"></script>
<script src="js/jqueryCookie.js"></script>
<script src="js/myRules.js"></script>
<script src="js/keyboard.js"></script>
<script src="js/tableauDeModele.js"></script>
<script src="js/Modele.js"></script>
<script src="js/IA.js"></script>
<script src="js/angular.js"></script>
<script src="js/slider.js"></script>
<script src="js/controleurJeu.js"></script>
<script src="js/directive.js"></script>
<script src="js/keyboardManager.js"></script>
<script src="js/keyboardService.js"></script>


<link href="http://www.directiv.es/application/html/js/prajwalkman/angular-slider/angular-slider.min.css" type="text/css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>

<script > var dif=100; </script>




<div id="app"   ng-class ="{'fullscreen': fen.disp != 'play', stopselect:1}" ng-app="myApp" ng-controller="myCtrl">
<div style="width:100%;height:100%;" ng-click="fen.disp = 'play';popup.deplier()"></div>
<div  ng-click="$event.stopPropagation()" id="applet"  tabindex="0"  ng-class ="{ 'fullscreen': fen.disp != 'play'}" autofocus ng-keydown="keydown($event)">

<input id="undo" 	ng-show="fen.disp != 'play'" ng-click="undo()"			value="annuler" type="button" />
<input id="paramP4" ng-show="fen.disp != 'play'" ng-click="displayOption()" value="option" 	type="button" />

<div  myt-ouchstart="touchStart(this)"  myt-ouchmove="touchMove(this)" myt-ouchend="touchEnd(this)" id="p4" >
	<!-- 42 pions-->
	<span ondragstart="return false" ng-click="fallenPion($index)" ng-repeat="pion in goodGrille() track by $index" ng-mouseover="preview($index)" ng-mouseleave="endPreview($index);" my-touchstart="alert('start')"  >
		<img   ng-style="{'backgroundColor':graphique(pion)}" src="http://bormat2.free.fr/4InArowLibrairy/images/1px.png"/>
		<br ng-if="$index%7==6" />
	</span>
	<!-- rejouer -->
	<span  ng-show="Modele.isGameFinish()&& !whyItIsFinish" class ="replay" ng-click="init()"  ></span>
	<span  ng-show="Modele.isGameFinish() && !whyItIsFinish " ng-click="init();" id="white">
		<p id="rejouer" style="position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)">rejouer</p>
		<img  src="file:///C:/Users/matheoBB/Documents/reload.png"/>
	</span>
	
	
	
	<div  class="colum" ng-click="fen.disp = 'option'; whyItIsFinish = true;popup.deplier(false);$event.stopPropagation()"  ng-class="popup.getClass()" >
		<div ng-show ="fen.disp == 'message'" id="message" class="colum2" >
				{{message}}
		</div>	
		<div ng-show = "fen.disp == 'option'" class="colum2" >
			<input id="Input3"  ng-style="{'width': InputWidth[0]}" value="sauvegarder" ng-click="save()" type="button"/>
			<input id="Input4" value="restaurer" ng-click="restore()" type="button"/>
			<input id="Input5" value="rejouer" ng-click="init()" type="button"/>
			<input id="Input6" ng-value="'mode pressé '+(animation2 ? 'off' : 'on')" ng-click="reverse('animation2')" type="button"/>
			<input id="Input1" value="annuler" ng-click="undo()" type="button">
			<input id="Input2" ng-value=" isBotActive ? 'robot Actif' : '(ro)bot Désactivé' " ng-click="reverseIsBotActive()" type="button"/>
			<input id="Input7" value="mode devellopeur switch" ng-click="modeleCreator()" type="button">
		</div>
	</div>
</div>		
	<div  ng-click="fen.stayOpen = !0"  ng-show="fen.disp != 'play'" id="sliderID">
		  <slider ng-mousedown="fen.clic=false" floor="0" ceiling="100" step="1" precision="2" ng-model="IA.dif"></slider>
	</div>
</div>
</div>
	