<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>
<link href='css/theme.css' 		rel='stylesheet' type='text/css'>
<link href='css/index_1.css' 	rel='stylesheet' type='text/css'>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="js/jqueryCookie.js"></script>
<script src="js/myRules.js"></script>
<script src="js/keyboard.js"></script>
<script src="js/tableauDeModele.js"></script>
<script src="js/Modele.js"></script>
<script src="js/IA.js"></script>
<script src="js/angular.js"></script>
<script src="js/controleurJeu.js"></script>
<script src="js/keyboardManager.js"></script>
<script src="js/keyboardService.js"></script>
<script src="js/slider.js"></script>

<link href="http://www.directiv.es/application/html/js/prajwalkman/angular-slider/angular-slider.min.css" type="text/css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>

<script > var dif=100;
</script>
</head>
<body>
<div id="app" ng-class ="isFullScreen" ng-app="myApp" ng-controller="myCtrl">
<div id="applet"  tabindex="0"  ng-class ="isFullScreen" autofocus ng-keydown="keydown($event)">

<input id="undo" value="annuler" ng-click="undo()" type="button"/><input id="paramP4" ng-click="displayOption()" value="option" type="button" />

<div  myt-ouchstart="touchStart(this)"  myt-ouchmove="touchMove(this)" myt-ouchend="touchEnd(this)" id="p4" >
	<span ondragstart="return false" ng-click="fallenPion($index)" ng-repeat="pion in grille track by $index" ng-mouseover="preview($index)" ng-mouseleave="endPreview($index);" my-touchstart="alert('start')"  >
	<img   ng-style="{'backgroundColor':graphique(pion)}" src="http://bormat2.free.fr/4InArowLibrairy/images/1px.png"/>
			<br ng-if="$index%7==6" />
	</span>
	<div class="colum" ng-click="deplier( 'columClass' );"  ng-class="columClass" >
		<div ng-show="endGameMessage" id="message" class="colum2" >
				{{message}}<img id="replay" style="background:transparent;width:60px" src="http://bormat2.free.fr/4InArowLibrairy/images/replay.png"  ng-click="init()"/> 
		</div>	
		<div ng-show="!endGameMessage" class="colum2" >
			<input id="Input3"  ng-style="{'width': InputWidth[0]}" value="sauvegarder" ng-click="save()" type="button"/>
			<input id="Input4" value="restaurer" ng-click="restore()" type="button"/>
			<input id="Input5" value="rejouer" ng-click="init()" type="button"/>
			<input id="Input6" ng-value="'mode pressé '+(animation ? 'off' : 'on')" ng-click="animation=!animation" type="button"/>
			<input id="Input1" value="annuler" ng-click="undo()" type="button"><input id="Input2" ng-value=" botActive ? 'robot Actif' : '(ro)bot Désactivé' " ng-click="botActive=!botActive" type="button"/>
			<input id="Input7" value="mode devellopeur switch" ng-click="modeleCreator()" type="button">
		</div>
	</div>
</div>		
	<div id="sliderID">
		  <slider floor="0" ceiling="100" step="1" precision="2" ng-model="cost"></slider>
		</div>
		<div ng-if="mode=='creator'" style="width:100%;">
			bonjour devellopeur ou pro du puissance 4 voici la grille représentant votre modele<br>
			ligne début<input type="number" ng-model="minLine"><br/>
			ligne fin<input type="number" ng-model="maxLine"><br/>
			colone début <input type="number" ng-model="minCol"><br/>
			colone fin<input type="number" ng-model="maxCol"><br/>
			[<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[<br>
			<em ng-if="maxCol>=$index%7 && minCol<=$index%7 && minLine<=$index/7  && maxLine>$index/7-2"ng-repeat="pion in grille track by $index"><em ng-if="$index%7==minCol%7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"</em>{{pion}}<em ng-if="$index%7==maxCol%7">",<br/></em></em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;],5</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;],
			<br/>
			<strong>choisir avec le clavier avant de cliquer :</strong><br>
			//1 jaune<br>
			//2 rouge<br>
			//3 jaune impaire<br>
			//4 jaune paire<br>
			//5 tous dans le tableau de 42 cases<br>
			//6 tout sauf 0 dans le tableau de 42 cases<br>
			//7 rouge impaire<br>
			//8 rouge paire<br>
			//9 tous meme hors tableau de 42 case : <br><br>
			
			<strong>les options suivantes sont pour les cases vides exclusivement :</strong> <br>
			//h rouge ne gagne pas a cette case <br>
			//g jaune gagne à cette case <br>
			//e et il n'y a pas de paire gagnant rouge j2 sur cette colonne (une case case rouge est dite gagnante si elle est sur une ligne paire en partant du bas avec l'indice 1 et qu'aucune case impaire où jaune pouvant directement gagner n'est au dessous)<br>
			//i les rouges gagnent à cette case contraire de h<br>
			//j jaune ne gagne pas à cette case inverse de g<br>
			//. combiner de  j et i ouais  ils ont un point en commun haha ok je sort<br>
			//r combiner de e et g jaune gagne à cette case et pas de rouge ligne paire gagnant en dessous (option en cour de disparition )<br>
			//f combiner de g et h jaune gagne à cette ligne rouge ne gagne pas a cette ligne (option en cour de disparition )<br>
			//z diff de 1 <br>
			//y diff de 2 <br>
			
			
		</div>
	</div>	
	
	<style> 
	#app.fullscreen  {	
		background: rgba(0,0,0,0.8);
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
	
	#applet.fullscreen {
		position:absolute;
		top:50%;
		left:50%;
		margin-top:0;
		width:40%;
		width: 90vmin;
		transform: translate(-50%,-50%);
	}
	</style>
</div>
<br>
</div>
</body>

<html>